<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"   
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa 
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
		
		<!-- 注解扫描 IOC容器负责bean  -->
	<context:component-scan base-package="com.pro.meeting"></context:component-scan>
	<context:component-scan base-package="com.pro.weixin"></context:component-scan>
		
		
	 
	 

	<!--jdbc(db).properties  -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 需要数据源   C3P0-->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc_driver}"></property>
		<property name="jdbcUrl" value="${jdbc_url}"></property>
		<property name="password" value="${jdbc_password}"></property>
		<property name="user" value="${jdbc_user}"></property>
	</bean>
	
	
	<!--指定实现JPA的适配器-->  
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
	<!-- Jpa集成Spring -->
	<!-- 配置EntityManagerFactory -->
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定实现JAP的适配器  -->
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter"></property>
		<!-- 待扫描的实体类的包 -->
		<property name="packagesToScan" value="com.pro"></property>
		<!-- 设置JPA需要的基本属性信息 -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.show_sql" >false</prop>
				<prop key="hibernate.format_sql">false</prop>
			</props>
		</property>
	</bean>
	
	<!-- 配置Jpa事务管理 -->
 	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
 		<property name="entityManagerFactory" ref="entityManagerFactory"></property>
 	</bean>
 	
 	<!-- Spring配置  声明式注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<!-- 配置SpringData -->
	<jpa:repositories base-package="com.pro.meeting.springdata"  entity-manager-factory-ref="entityManagerFactory">
	</jpa:repositories>
</beans>